<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          UMN Homes
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="black">
      <ion-list>
        <ion-item lines="none" routerLink="/places/tabs/discover">
          <ion-icon color="secondary" name="checkbox-outline" slot="start"></ion-icon>
          <ion-label color="secondary">Discover Places</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/bookings">
          <ion-icon color="primary" name="business" slot="start"></ion-icon>
          <ion-label color="primary">Your Bookings</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon color="danger" name="exit" slot="start"></ion-icon>
          <ion-label color="danger">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>